.App {
  font-family: sans-serif;
  text-align: center;
}

.appWrapper {
  max-width: 420px;
  margin: 40px auto;
}
.weatherApp {
  display: block;
  margin: 30px auto;
  padding: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #b91646;
  border-radius: 10px;
  box-shadow: 5px 5px #b91646;
  background: rgb(251, 243, 228);
  opacity: 0.9;
  display: block;
  padding: 20px;
  border-radius: 15px;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: rgb(17, 32, 49);
}

.citySearch {
  margin: 15px;
}

#searchButton {
  background-color: #105652;
  padding: 3px 10px;
  border: 0;
  border-radius: 10px;
  margin: 7px;
}
#searchButton:hover {
  background-color: rgb(113, 111, 129);
  transition: all 200ms ease-in-out;
}
.today {
  padding-right: 15px;
}

#dailyForecast {
  text-align: center;
  padding: 50px, 0;
}
.forecastContainer {
  border: 1x solid rgb(123, 119, 255, 0.9);
  background-color: rgb(123, 119, 255, 0.2);
  margin: 5px;
  border-radius: 10px;
}

ul {
  list-style: none;
  text-align: left;
  font-size: 12px;
}

footer {
  font-size: 10px;
  margin: 10px;
  color: black;
}

.forecastLow,
#todaysLow {
  color: rgb(52, 91, 99);
}

.forecastDay {
  padding: 10px 10px 0 0;
  font-size: 23px;
}
.currentTemperature canvas {
  margin: 5px, 5px, -5px, -5px;
}

#weatherDescription,
.today {
  font-size: 18px;
  padding: 5px 0;
}
#weatherDescription::first-letter {
  text-transform: capitalize;
}

.forecastHigh,
.forecastLow {
  font-size: 20px;
}
#currentTime {
  font-size: 20px;
}
#currentDegree {
  font-size: 64px;
  line-height: 1.5;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 15px;
  top: -34px;
}
.currentWeather .active {
  color: rgb(35, 35, 35);
  cursor: default;
  text-decoration: none;
}

.currentWeather.active:hover {
  text-decoration: none;
}
